svg{
    cursor: pointer;
}

.drop{
    width:400px;
    height:300px;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}
.heading{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.allign{
    height: 500px;
    width: 500px;
    border: ;
}